{{#if showImagesWarning}}
  <div class="image-toggle-box">
    <span>{{t 'mail.message.analysis.hasRemoteImages'}}</span>
    <a href='#' {{action 'showImages'}}>{{t 'mail.message.analysis.clickToShow'}}</a>
  </div>
{{/if}}
{{{generatedContent}}}
