{{#if showImagesWarning}}
  <div class="image-toggle-box">
    <span>This message contains remote images.</span>
    <a href='#' {{action 'showImages'}}>Show them?</a>
  </div>
{{/if}}
{{{generatedContent}}}
