.roundcube-mail {
  .message {
    order: 2;
    flex-grow: 1;
  }

  .message-view {
    width: 100%;
    padding: $content-padding;
    padding-top: 0;

    .subject {
      font-size: $message-view-subject-font-size;
      color: $ui-text-color;
      padding: $content-padding;
      padding-bottom: 0;
    }

    .metadata {
      font-size: $ui-font-size;
      color: $ui-secondary-text-color;
      padding: $content-padding;
      border-bottom: 1px solid $ui-border-color;

      .from, .to, .cc {
        color: $ui-text-color;
      }
    }

    .content {
      font-family: inherit;
      font-size: $ui-font-size;
      background-color: transparent;
      border: none;
      padding: $content-padding;

      #restricted {
        max-width: $max-message-width;
        margin-left: auto;
        margin-right: auto;
      }

      pre {
        background-color: transparent;
        border: none;
        padding: 0;
        font-family: inherit;
        font-size: $ui-font-size;
        white-space: pre-wrap;
        word-break: normal;
      }
    }
  }
}
