<ul class="list-group">
  {{#each model as |message|}}
    {{#link-to 'shell.mail.mailbox.message' message.id class='list-group-item' tagName='li'}}
      <span class="sender">{{prettify message.from.name}}</span>
      <div class="subject">{{prettify message.subject}}</div>
      <div class="preview">{{prettify message.preview}}</div>
    {{/link-to}}
  {{/each}}
</ul>
